<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <nav mat-tab-nav-bar>
        <a class="nav-fill-space"></a>
        <a mat-tab-link routerLink="/feeds" routerLinkActive="active">Feeds</a>
        <a mat-tab-link routerLink="/downloads" routerLinkActive="active">Downloads</a>
        <a mat-tab-link routerLink="/requests">Requests</a>
        <a class="nav-fill-space"></a>
    </nav>
    <!--  <app-feedtable></app-feedtable>-->
    <router-outlet></router-outlet>
</div>
